body {
	margin: 0;
	max-width: 100vw;
	height: 100vh;
}

pre,
code {
	overflow: auto;
}

#pageContainer {
	display: flex;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
}

#blocklyDiv {
	flex-basis: 100%;
	height: 100%;
}

#outputPane {
	display: flex;
	flex-direction: column;
	width: 400px;
	flex: 0 0 400px;
	overflow: auto;
	padding: 1rem;
}

#generatedCode {
	height: 50%;
	background-color: #1f2940;
	color: white;
	border-radius: 6px;
	padding: 6px;
	margin: 0;
}

#output {
	height: 50%;
}

.button {
	height: 34px;
	border-radius: 100px;
	border: 0;
	background-color: #0fbd8c;
	color: white;
	font-size: 1.1rem;
	opacity: 1;	
}

.button:hover {
	box-shadow: inset 0 0 0 3px #00000033;
}

.button:active {
	opacity: .8;	
}

.blocklyToolbox {
	border-top-right-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
	box-sizing: border-box;
	background-color: white;
	color: black;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	padding-left: 12px;
}

.blocklySvg {
	background-color: #ddd;
}

.blocklyFlyoutBackground {
	background-color: #eee;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.blocklyTreeRow {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
}

.blocklyToolboxCategoryGroup {
	gap: 6px !important;
}

.blocklyToolboxCategory {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 23px;
	border-top-left-radius: 34px;
	border-bottom-left-radius: 34px;
	margin-left: 2px;
	margin-bottom: 0;
}

.blocklyToolboxCategory:hover {
	box-shadow: 0 0 0 2px #ddd;
}

.blocklyTreeSelected {
	border-top-left-radius: 34px;
	border-bottom-left-radius: 34px;
	padding-left: 10px !important;
	margin-left: -10px !important;
}

.blocklyToolboxCategoryGroup {
	gap: 4px;
	padding-top: 6px;
}

#alert {
	position: fixed;
	top: 32px;
	right: 32px;
	color: red;
	font-family: sans-serif;
	padding: 12px 32px 12px 32px;
	background-color: #fff6d6;
	border-radius: 32px;
	color: black;
	border: 2px solid #e96725;
	font-weight: bold;
	transition: ease .2s transform;
}

.blocklyBlock {
	padding:100px;
}

#saveLoadDiv {
	display: flex;
	gap: 6px;
	margin-bottom: 6px;
}

#saveLoadDiv > button {
	background-color: #4c97ff;
	flex-grow: 1;
}

#deployDiv {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 24px);
	max-width: 512px;
	height: fit-content;
	z-index: 999;
	display: flex;
	flex-direction: column;
	padding: 12px;
	background-color: white;
	border-top-right-radius: 29px;
	border-top-left-radius: 29px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}
